h1 {
    color: darkred;
}
.gold {
    color:gold;
}
.score {
    color:darkslategray;
}

#gameLink {
    text-align: center;
    border: 1px darkgrey;
}
#greeting {
    position: absolute;
    left: 70%;
    top: 110%;
    background: #fff;
    width: 350px;
    height: 300px;
    border: 2px darkslategray;
    border-radius: 5px;
    padding: 20px;

    display: none;
}




